extends layout

block title
    title #{title}


block header
    h1 #{title}


block content

    form(action="#" method="POST" class="form-registration")
        label(for="chores") Chores :
        select(name="chore" id="chores")
            for chore in chores 
                option(value=chore.chore_id) #{chore.chore_name}
        input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )