extends layout

block title
  title #{title}

block content
  div.title_div
    h1 Chorestopia
  div.content_div
      div.form
        form(action="#" method="POST" class="form-registration")
          label(for="first_name") First Name:
          input(
            type="text"
            id="first_name"
            name="first_name"
            class="form-control"
            required
          )
          label(for="second_name") Second Name:
          input(
            type="text"
            id="second_name"
            name="second_name"
            class="form-control"
            required 
          )

          label(for="email") Email:
          input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            required
          )
          label(for="password") Password
          input(
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
          )
          input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
          )

          div(class= 'container')
              div(class='row')
                  div(class='col text-center')
                      a(class='btn btn-info' href="/login") Login 
                      if locals.messages.error
                          p= messages.error
                          